@import './variables';

.itemList {
  border: solid 1px gray;
  margin-left: 4px;
  margin-bottom: 20px;
  display: block;
  width: $card-width;
  .image {
    width: 100%;
  }
  .details {
    padding: 0 8px 8px;
    > p {
      padding: 2px;
      .icon {
        padding: 2px;
      }
    }
  }
}
