header,
nav,
article,
aside,
footer {
  border: 1px solid #000;
}

html,
body {
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  > section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    > nav {
      width: 200px;
    }
    > article {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      > header {
        height: 50px;
      }
      > section.pageContent {
        flex-grow: 1;
        overflow-y: scroll;
      }
    }
  }
  > footer {
    height: 25px;
  }
}
