@import './variables';

nav,
article,
footer {
  border: 1px solid $lightSide;
  border-top: none;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $lightSide;
  background: $darkSide;
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  > section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: $progress-bar-height;
    > article.pageContent {
      flex-grow: 1;
    }
  }
  > footer {
    text-align: right;
    padding: 4px 8px;
    background: $darkerSide;
  }
}

input[type='text'],
select {
  width: 100%;
  max-width: 200px;
  border: 2px solid $lightSide;
  background: black;
  color: $lightSide;
  border-radius: 4px;
  margin: 8px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type='text']:focus,
select:focus {
  border-color: $ominousRed;
  box-shadow: 0 0 8px 0 $ominousRed;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $lightSide;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $yellow;
}

/* Progress bar */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: $yellow;
  position: fixed;
  z-index: 1031;
  top: 0px;
  left: 0;
  width: 100%;
  height: $progress-bar-height;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Utils */
.inlineBlockChildren {
  > * {
    display: inline-block;
  }
}
